<div class="container-newsletter">
    <div class="newsletter">
        <div>
            <a href="#" (click)="utility.preventDefault($event)">
                <span><i class="fa-regular fa-envelope"></i></span>
                <p>ISCRIVITI ALLA NEWSLETTER</p>
            </a>
        </div>
        <div>
            <a href="#" (click)="utility.preventDefault($event)">
                <span><i class="fa-solid fa-gift"></i></span>
                <p>LA SPORTIVA GIFT CARD</p>
            </a>
        </div>
        <div>
            <a href="#" (click)="utility.preventDefault($event)">
                <span><i class="fa-solid fa-question"></i></span>
                <p>CUSTOMER SERVICE</p>
            </a>
        </div>
    </div>
    <h2>Sii tra i primi a ricevere aggiornamenti sulle offerte esclusive e sulle novità del mondo La Sportiva</h2>
    <p>Ottieni la SPEDIZIONE GRATUITA sul tuo primo acquisto!</p>
    <a href="#" (click)="utility.preventDefault($event)" class="btn-newsletter">ISCRIVITI ALLA NEWSLETTER</a>
</div>

